extends layout

block content
  div
    table.container
      tr
        th Id
        th Dagsetning
        th Nafn
        th Netfang
        th Kennitala
        th Fjöldi
      each val in data
        tr
          td= val.id
          td= val.dagsetning
          td= val.nafn
          td= val.netfang
          td= val.ssn
          td= val.fjoldi
    a(href='/admin/download') Sækja

  footer.footer
    div.separator
    a(href="/") Forsíða
