extends layout

block content

  if errors
    ul
      each val in errors
        li= val
  div.form
    form(method='POST' action='/')
          div.form-item
            label(for='name') Name:
            input(type='text', name='name', value=data.name)
          div.form-item
            label(for='email') Email:
            input(type='text', name='email', value=data.email)
          div.form-item
            label(for='ssn') Kennitala:
            input(type='text', name='ssn', value=data.ssn)
          div.form-item
            label(for='count') Fjöldi:
            input(type='text' name='count', value=data.count)
          button(type='submit') Senda

  footer
    if loggedIn
      p Skráður inn sem #{loggedIn}
      a(href="/logout") Útskráning
      a(href="/admin") Stjórnsíða
    else
      a(href="/login") Innskráning
