extends layout

block content
  div.form
    div.form-cont
      if errors
        ul
          each val in errors
            li= val.message
      form(method='POST' action='/')
            div.form-item
              label(class='form-item-label' for='name') Nafn:
              input(class='form-item-input' type='text', name='name', value=data.name)
            div.form-item
              label(class='form-item-label' for='email') Netfang:
              input(class='form-item-input' type='text', name='email', value=data.email)
            div.form-item
              label(class='form-item-label' for='ssn') Kennitala:
              input(class='form-item-input' type='text', name='ssn', value=data.ssn)
            div.form-item
              label(class='form-item-label' for='count') Fjöldi:
              input(class='form-item-input' type='text' name='count', value=data.count)
            button.button Senda

  footer.footer
    div.separator
    if loggedIn
      p Skráður inn sem #{loggedIn}
      a(href="/logout") Útskráning
      a(href="/admin") Stjórnsíða
    else
      a(href="/login") Innskráning
